src/main/mule/demo1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bd9337ce-6454-40a2-ab85-0fb785beda63" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demo1Flow" doc:id="c3a66e6c-8b22-48d5-b143-c92bc2a543f7" >
<!-- [STUDIO:"Set Payload"]		<set-payload value='#[&lt;rows DATABASE_NAME = "CastIron"&gt;&#10;&lt;row&gt;&#10;&lt;CUST_ID&gt;1234&lt;/CUST_ID&gt;&#10;&lt;NAME1&gt;JACK&lt;/NAME1&gt;&#10;&lt;TITLE&gt;Developer&lt;/TITLE&gt;&#10;&lt;EMAILID&gt;abc@gmail.com&lt;/TITLE&gt;&#10;&lt;/row&gt;&#10;&lt;/rows&gt;&#93;' doc:name="Set Payload" doc:id="fa143f04-7ead-4160-a0c3-e2676efe53e4" /> [STUDIO] -->
		<http:listener doc:name="Listener" doc:id="276d10a8-d083-4ba5-a8b9-02a03908f4db" config-ref="HTTP_Listener_config" path="/demo"/>
<!-- [STUDIO:"Select"]		<db:select doc:name="Select" doc:id="8d40fb87-7f09-4e26-a074-55606e7d3b67" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from customer union all
select * from orders;&#93;&#93;></db:sql>
		</db:select> [STUDIO] -->
<!-- [STUDIO:"Transform Message"]		<ee:transform doc:name="Transform Message" doc:id="83147ac7-47b3-4a2a-a55c-637562972925" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
payload&#93;&#93;></ee:set-payload>
			</ee:message>
		</ee:transform> [STUDIO] -->
		<ee:transform doc:name="Transform Message" doc:id="a213a859-2ceb-4a4b-bdf6-b290b93b2ae7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
  "rows": {
    "row": {
      "CUST_ID": "1234",
      "NAME1": "JACK",
      "TITLE": "Developer",
      "EMAILID": "abc@gmail.com"
    }
  }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
<!-- [STUDIO:"Set Variable"]		<set-variable value="#[&quot;&lt;?xml version=\&quot;1.0\&quot; encoding=\&quot;ISO-8859-1\&quot;?&gt;\n&lt;xsl:stylesheet version=\&quot;1.0\&quot; xmlns:xsl=\&quot;http://www.w3.org/1999/XSL/Transform\&quot; xmlns:fo=\&quot;http://www.w3.org/1999/XSL/Format\&quot; &gt;\n &lt;xsl:output method=\&quot;html\&quot; omit-xml-declaration=\&quot;yes\&quot; media-type=\&quot;string\&quot;/&gt;\n  &lt;xsl:template match=\&quot;/\&quot;&gt;\n\t\t&lt;xsl:element name=\&quot;SimpleDocument\&quot;&gt;\n\t\t\t&lt;xsl:element name=\&quot;string\&quot;&gt;\n\t\t\t\t&lt;![CDATA[&lt;!DOCTYPE HTML PUBLIC \&quot;-//W3C//DTD HTML 4.01//EN\&quot;\n        \&quot;http://www.w3.org/TR/html4/strict.dtd\&quot;&gt;\n&lt;html lang=\&quot;en\&quot;&gt;\n&lt;head&gt;\n    &lt;title&gt;Customer Contacts List&lt;/title&gt;\n    &lt;style type=\&quot;text/css\&quot;&gt;\n\nbody\n{\n    margin: 0;\n    padding: 0;\n    background: #ffffff;\n    font-size:85%;\n}\n\nh1, h2, h3, h4, h5, h6 { margin: 0 0 .5em; }\n\ntable\n{\n    width: 90%;\n    margin: 1em auto;\n    border-collapse: collapse;\n}\n\nth\n{\nfont-size:1em;\nborder:1px solid #000000; \npadding:.3em 1em; \ntext-align:center; \n} \n\ntd\n{\nfont-size:1.1em;\nborder:1px solid #000000; \npadding:.3em 1em; \ntext-align:center;\n}\n\n#container\n{\n    margin: 1em auto;\n    width: 1000px;\n    background: #ddd;\n}\n#header\n{\n    background: #ffffff;\n    width: 100%;\n    position: relative;\n    border-bottom: 2px solid #000000;\n}\n\n\n#contents\n{\n    float: left;\n    width: 970px;\n    background: #ddd;\n    margin: 0 0 0 20px;\n    display:inline;\n}\n\n.supplier_data ul\n{\n\ttext-align: right;\n\tmargin: 1em 0;\n\tpadding: 0;\n\tfont-size: 95%;\n}\n\n.supplier_data li\n{\n\tlist-style-type: none;\n\tdisplay: inline;\n\tmargin: 0;\n\tpadding: 0 0 0 7px;\n}\n\n.supplier_data th\n{\n\tlist-style-type: none;\n\tmargin: 0;\n\tpadding: 0 0 0 7px;\n\tfont-size:1em;\n}\n\n.supplier_data td \n{\n\tlist-style-type: none;\n\n\tmargin: 0;\n\tpadding: 0 0 0 7px;\n}\n\n\n#footer\n{\n    clear: both;\n    color: #272900;\n    text-align: right;\n    font-size: 85%;\n    background: red;\n    padding: 5px;\n}\n&lt;/style&gt;\n&lt;/head&gt;\n&lt;body&gt;\n    &lt;div id=\&quot;container\&quot;&gt;\n        &lt;div id=\&quot;header\&quot; title=\&quot;Berlin Packaging\&quot;&gt;\n\t\t\t&lt;img src=\&quot;http://www.berlinpackaging.com/images/berlin_logo.png?fmt=png-alpha&amp;wid=180&amp;resMode=sharp2\&quot; alt=\&quot;Elkay\&quot; title=\&quot;Berlin \&quot;&gt;\n\t\t&lt;/div&gt;\n&#93;&#93;&gt;\n&lt;![CDATA[&lt;/a&gt;&lt;/br&gt;\n\n\n            &lt;div class=\&quot;supplier_data\&quot;&gt;\n                &lt;h3&gt;\n                    Berlin Fortitude Customer Contact List (&#93;&#93;&gt;\n&lt;xsl:value-of select=\&quot;rows/@DATABASE_NAME\&quot; disable-output-escaping=\&quot;yes\&quot;/&gt;\n&lt;xsl:if test=\&quot;DATABASE_NAME[.=''&#93;\&quot;&gt;&lt;/xsl:if&gt;\n&lt;![CDATA[)\n\n                &lt;/h3&gt;\n                &lt;ul&gt;\n                    &lt;table&gt;\n                        &lt;tr&gt;\n                            &lt;th scope=\&quot;col\&quot;&gt;Customer Id&lt;/th&gt;\n                            &lt;th scope=\&quot;col\&quot;&gt;Contact Name&lt;/th&gt;\n                            &lt;th scope=\&quot;col\&quot;&gt;Contact Title&lt;/th&gt;\n                            &lt;th scope=\&quot;col\&quot;&gt;Contact Email&lt;/th&gt;\n                        &lt;/tr&gt;\n&#93;&#93;&gt;\n\n&lt;xsl:for-each select=\&quot;rows/row\&quot;&gt;\n&lt;![CDATA[\n                        &lt;tr&gt;\n                            &lt;td scope=\&quot;row\&quot; &gt;&#93;&#93;&gt;\n              &lt;xsl:value-of select=\&quot;CUST_ID\&quot; disable-output-escaping=\&quot;yes\&quot;/&gt;\n              &lt;xsl:if test=\&quot;CUST_ID[.=''&#93;\&quot;&gt;&lt;/xsl:if&gt;\n&lt;![CDATA[&lt;/td&gt;\n                            &lt;td&gt;&#93;&#93;&gt;\n              &lt;xsl:value-of select=\&quot;NAME1\&quot; disable-output-escaping=\&quot;yes\&quot;/&gt;\n              &lt;xsl:if test=\&quot;NAME1[.=''&#93;\&quot;&gt;&lt;/xsl:if&gt;\n&lt;![CDATA[&lt;/td&gt;\n                            &lt;td&gt;&#93;&#93;&gt;\n              &lt;xsl:value-of select=\&quot;TITLE\&quot; disable-output-escaping=\&quot;yes\&quot;/&gt;\n              &lt;xsl:if test=\&quot;TITLE[.=''&#93;\&quot;&gt;&lt;/xsl:if&gt;\n&lt;![CDATA[&lt;/td&gt;\n                            &lt;td&gt;&#93;&#93;&gt;\n              &lt;xsl:value-of select=\&quot;EMAILID\&quot; disable-output-escaping=\&quot;yes\&quot;/&gt;\n              &lt;xsl:if test=\&quot;EMAILID[.=''&#93;\&quot;&gt;&lt;/xsl:if&gt;\n&lt;![CDATA[&lt;/td&gt;\n                            &lt;/tr&gt;&#93;&#93;&gt;\n          &lt;/xsl:for-each&gt;\n&lt;![CDATA[\n                    &lt;/table&gt;\n                &lt;/ul&gt;\n    &lt;/div&gt;&#93;&#93;&gt;\n&lt;![CDATA[&lt;div id=\&quot;footer\&quot;&gt;\n@ 2016 Berlin Packaging\n&lt;/div&gt;\n&lt;/body&gt;\n&lt;/html&gt;\n&#93;&#93;&gt;\n\t&lt;/xsl:element&gt;\n\t&lt;/xsl:element&gt;\n  &lt;/xsl:template&gt;\n&lt;/xsl:stylesheet&gt;&quot;&#93;" doc:name="Set Variable" doc:id="8c85ce87-d532-43f4-ab41-0c656c35d773" variableName="xslt"/> [STUDIO] -->
<!-- [STUDIO:"Xslt transform"]		<xml-module:xslt-transform doc:name="Xslt transform" doc:id="5bd2ba87-d1b4-4c13-a146-e6f4fe7ae5dd" config-ref="XML_Config">
			<xml-module:xslt ><![CDATA[#[vars.xslt&#93;&#93;&#93;></xml-module:xslt>
			<xml-module:context-properties ><![CDATA[#[{
	"Content-type": "HTML"
}&#93;&#93;&#93;></xml-module:context-properties>
		</xml-module:xslt-transform> [STUDIO] -->
<!-- [STUDIO:"Write"]		<file:write doc:name="Write" doc:id="558fe1c6-7485-4647-a1fb-e62eecff04a0" path="C:\Users\i5\Desktop\.Net Application\abc.html"/> [STUDIO] -->
	</flow>
</mule>
